#!/usr/bin/env python
PACKAGE = "ks114_sonar"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("detection_mode",       int_t,      0, "detection_mode parameter",  1,  0, 1)
gen.add("use_threshold_filter", bool_t,     0, "use_threshold_filter parameter",    True)
gen.add("use_low_pass_filter",  bool_t,     0, "use_low_pass_filter parameter",    True)
gen.add("low_pass_gain",        double_t,   0, "low_pass_gain parameter",   .8, 0,   1)

exit(gen.generate(PACKAGE, "ks114_sonar", "sonar"))